@import "tailwindcss";

@font-face {
    font-family: 'HidayatullahDemo';
    src: url('./assets/fonts/HidayatullahDemo-mLp39.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TitrBold';
    src: url('./assets/fonts/0 Titr Bold Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yalad';
    src: url('./assets/fonts/Mj_Yalda-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cooper';
    src: url('./assets/fonts/CooperArabic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.arabic-title {
    font-family: 'Cooper', sans-serif;
}